html{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 17px;
    }

body{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.form__fieldset{
    padding: 40px 20px;
}

.form__fieldset:not(:last-of-type){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

